<!DOCTYPE html>
<html lang="en">

<head>
    <title>WebAuthn Demo App</title>
    <meta name="description" content="WebAuthn Demo App">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@7.0.0/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="custom.css">
    <script
        src="https://cdn.jsdelivr.net/gh/herrjemand/Base64URL-ArrayBuffer@latest/lib/base64url-arraybuffer.js"></script>
    <script src="components-bundle.js"></script>
    <script src="https://unpkg.com/material-components-web@7.0.0/dist/material-components-web.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</head>

<body class="mdc-typography">
    <mwc-top-app-bar-fixed>
        <span slot="title">WebAuthn Demo App</span>
    </mwc-top-app-bar-fixed>

    <main class="content my-5">
        <div class="container">
            <div id="uvpa_available" class="hidden">
                <h1 class="text-center">Verify your identity</h1>

                <div class="mt-5 text-center d-block">
                    <button type="button" id="reauth" class="btn btn-primary-theme w-75 m-1">Authenticate</button>
                    <button type="button" id="cancel" class="btn btn-secondary w-75 m-1">Sign-in with password</button>
                </div>
            </div>

            <!-- Password form -->
            <form id="form" method="POST" action="/auth/password" class="hidden">
                <div class="text-center">
                    <h1>Enter a password</h1>
                    <span class="text-secondary">(For backup purposes)</span>
                </div>

                <input type="hidden" name="email" value="{{email}}" />

                <div class="mdc-text-field form-block my-5">
                    <div class="form-group my-3">
                        <label for="password">
                            <strong>Password </strong>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password" class="form-control mdc-text-field__input" id="password" name="password"
                            placeholder="Password">
                        <span id="password-error" class="error-message"></span>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary-theme w-50">Register</button>
                </div>
            </form>
        </div>
    </main>

    <script type="module">
        new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field'));
        import { _fetch, authenticate } from '/client.js';

        const form = document.querySelector('#form');
        const cancel = document.querySelector('#cancel');
        const button = document.querySelector('#reauth');
        const submitBtn = document.querySelector('button[type=submit]');

        // Disable button
        submitBtn.disabled = true;

        /**
         * Register button disabling event listener
         */
        form.addEventListener('keyup', e => {
            e.preventDefault();

            const password = document.querySelector('#password');

            if (password.value.length > 0) {
                submitBtn.disabled = false;
            } else {
                submitBtn.disabled = true;
            }
        });

        /**
         * Form submission event listener
         */
        form.addEventListener('submit', e => {
            e.preventDefault();

            const form = new FormData(e.target);
            const cred = {};

            form.forEach((v, k) => cred[k] = v);

            _fetch(e.target.action, cred)
                .then(user => {
                    location.href = '/home';
                })
                .catch(e => alert(e));
        });

        if (window.PublicKeyCredential) {
            PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()
                .then(uvpaa => {
                    if (uvpaa && localStorage.getItem(`credId`)) {
                        document
                            .querySelector('#uvpa_available')
                            .classList.remove('hidden');
                    } else {
                        form.classList.remove('hidden');
                    }
                });
        } else {
            form.classList.remove('hidden');
        }

        /**
         * Cancellation event listener
         */
        cancel.addEventListener('click', e => {
            form.classList.remove('hidden');
            document
                .querySelector('#uvpa_available')
                .classList.add('hidden');
        });

        /**
         * Reauthenticate event listener
         */
        button.addEventListener('click', e => {
            authenticate().then(user => {
                if (user) {
                    location.href = '/home';
                } else {
                    throw 'User not found.';
                }
            }).catch(e => {
                console.error(e.message || e);

                alert('Authentication failed. Use password to sign-in.');

                form.classList.remove('hidden');
                document.querySelector('#uvpa_available').classList.add('hidden');
            });
        });
    </script>
</body>

</html>