/* Custom CSS file */

mwc-top-app-bar-fixed {
    --mdc-theme-primary: #b7009b;
    --mdc-theme-on-primary: white;
}

input.form-control {
    height: 38px !important;
}

.btn-primary-theme {
    background-color: #b7009b;
    border: #b7009b;
    color: white;
}

.btn-primary-theme:hover {
    background-color: #7a0068;
    border: #7a0068;
    color: white;
}

.form-block {
    display: block !important;
}

.error-message {
    font-size: 14px;
    color: red;
}

.login-link-container {
    text-align: center;
    margin-top: 5rem;
}

.login-link {
    text-decoration: underline;
    color: #b7009b;
}